body{
    margin: 0;
    padding: 0;
}

.head{
    background-color: lightgrey;
    padding: 15px 0;
    text-align: center;
}

h1{
    font-size: 35px;
}

.image{
    width: 900px;
    margin: auto;
}

img{
    width: 900px;
}